<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/img/d3xter.png">

  <!-- additional styling -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/extension.css">

  <!-- d3 & d3xter.js -->
  <script src="{{ site.baseurl }}/bower_components/d3/d3.js"></script>
  <link rel="stylesheet" href="{{ site.baseurl }}/bower_components/d3xter/css/style.css">
  <script src="{{ site.baseurl }}/bower_components/d3xter/js/lib.js" charset="utf-8"></script>

  <!-- fork me ribbon -->
  <a href="https://github.com/nathanepstein/d3xter"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</head>
